#navlogo, #footerlogo {
    max-height: 2rem;
    width: auto;
}

#headermotif {
    max-height: 10rem;
    width: auto;
}


.separatore {
    max-height: 1rem;
}

.nav-item{
    font-family: "Bauhaus 93";
}

.text-dark{
    color: brown;
}

.smallpic   {
    max-width: 5rem;
}
p {
    margin-top: 1rem;
}

body, header, nav, footer {
    background-color: #DBD6C1;
}