#navlogo, #footerlogo {
    max-height: 2rem;
    width: auto;
}

#headermotif {
    max-height: 10rem;
    width: auto;
}

.divisersvg {
    max-height: 18rem;
}

.extlinkpic {
    max-height: 2rem;
    width: auto;
}

.separatore {
    max-height: 1rem;
    width: auto;
}

.gobutton {
    max-height: 3rem;
    width: auto;
    justify-self: flex-start;
}

.nav-item{
    font-family: "Bauhaus 93";
}

.text-dark{
    color: brown;
}

.smallpic   {
    max-width: 5rem;
}
p {
    margin-top: 1rem;
}

body, header, nav, footer {
    background-color: #DBD6C1;
}