<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/tea5hxu.css">
    <link rel="stylesheet" href="https://use.typekit.net/bnh1yic.css">
    <link href="../ressources/css/cssreset.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link href="../ressources/css/cssfont.css" type="text/css" rel="stylesheet">
    <link href="../ressources/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-sm fixed-top">
        <div class="container-fluid justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="../index.html" class="navbar-brand">
                        <img id="navlogo" src="../ressources/images/logo.png">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="catalogue.html">Catalogue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="commandes.html">Commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="faq.html">FAQ</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>PORTFOLIO</h1>
    <div class="container">
        <section>
            <div class="d-flex">
                <div class="p-5">
                    <h2>TitreSection</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut earum odio eligendi nobis laudantium dolorem atque dolore eaque animi exercitationem! Ipsam veritatis saepe quis aliquam recusandae natus, numquam dolore blanditiis.</p>
                </div>
                <div>         
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Blank_square.svg/240px-Blank_square.svg.png">
                </div>
            </div>
        </section>
        <hr class="hrpf bg-primary border-5 border-top border-primary m-5" style="border-top: dashed;">
        <section>
            <div class="d-flex">
                <div>         
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Blank_square.svg/240px-Blank_square.svg.png">
                </div>
                <div class="p-5">
                    <h2>TitreSection</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut earum odio eligendi nobis laudantium dolorem atque dolore eaque animi exercitationem! Ipsam veritatis saepe quis aliquam recusandae natus, numquam dolore blanditiis.</p>
                </div>
            </div>
        </section>
        <hr class="hrpf bg-primary border-5 border-top border-primary m-5" style="border-top: dashed;">
        <section>
            <div class="d-flex flex-column">
                <h2>Projets participés</h2>
                <div class="d-flex mt-5">
                    <div>   
                        <h3 class="p-2">Projet 1</h3>      
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Blank_square.svg/240px-Blank_square.svg.png">
                    </div>
                    <div class="p-5">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut earum odio eligendi nobis laudantium dolorem atque dolore eaque animi exercitationem! Ipsam veritatis saepe quis aliquam recusandae natus, numquam dolore blanditiis.</p>
                    </div>
                </div>
                <div class="d-flex mt-5">
                    <div>   
                        <h3 class="p-2">Projet 2</h3>      
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Blank_square.svg/240px-Blank_square.svg.png">
                    </div>
                    <div class="p-5">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut earum odio eligendi nobis laudantium dolorem atque dolore eaque animi exercitationem! Ipsam veritatis saepe quis aliquam recusandae natus, numquam dolore blanditiis.</p>
                    </div>
                </div>
                <div class="d-flex mt-5">
                    <div>   
                        <h3 class="p-2">Projet 3</h3>      
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Blank_square.svg/240px-Blank_square.svg.png">
                    </div>
                    <div class="p-5">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut earum odio eligendi nobis laudantium dolorem atque dolore eaque animi exercitationem! Ipsam veritatis saepe quis aliquam recusandae natus, numquam dolore blanditiis.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>